# Arquivos de sistema
.DS_Store
Thumbs.db

# Arquivos de backup do banco de dados
*.bak
*.backup
*.dump

# Arquivos de log
*.log

# Arquivos de ambiente
.env
.env.local

# IDEs e editores
.idea/
.vscode/
*.swp
*.swo 